body {
  background-color: black;
  color: #00ff00;
}

#foyer {
  display: none;
}

#coward {
  display: none;
}

#monster {
  display: none;
}

#death {
  display: none;
}

#pizzaParty {
  display: none;
}

#headline {
  font-family: "Creepster";
  font-size: 80px;
  margin-bottom: 40px;
  margin-top: 40px;
}

#runAway {
  display: none;
}
.pictures {
  width:70%;
  margin-bottom: 25px;
}
#weenieHut {
  height: 700px;
  width: auto;
}
.container {
  text-align: center;
}
.btn-success {
  background-color: #08e008;
  color: black;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: 20px;
  margin-right: 20px;
}

.verticalSpacer {
  height: 40px;
}

.boo {
  font-family: "Creepster";
  font-size: 45px;
}

#cowabunga {
  font-family: "Chewy";
  font-size: 45px;
}