body {
  background-color: black;
  color: #00ff00;
}

#foyer {
  display: none;
}

#coward {
  display: none;
}

#monster {
  display: none;
}

#death {
  display: none;
}

#pizzaParty {
  display: none;
}

h1 {
  font-family: "Creepster";
}

#runAway {
  display: none;
}
.pictures {
  width:70%;
}
#weenieHut {
  height: 700px;
  width: auto;
}
.container {
  text-align: center;
}